envs/.env
envs/github.env
staticdocs
staticfiles
logs/npda.log
npda.log.*
media/submissions/csv/*

__pycache__
.DS_Store
/.cache
.vscode
*.code-workspace

node_modules

build_info.json

media/submissions/csv/*
*.crt

project/npda/dummy_sheets/local_generated_data/*
!project/npda/dummy_sheets/local_generated_data/.gitkeep
