{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
  Hybrid Closed Loop Use
{% endblock card_title%}
{% block card_body %}
{% if charts.care_at_diagnosis_value_count.data.coeliac_disease_screening.total_eligible == 0 %}
  <div class="alert alert-info">
    <i class="fa-solid fa-person-circle-exclamation"></i> No eligible patients.
  </div>
{% else %}
  <div
  hx-get="{% url 'get_hcl_scatter_plot' %}"
  hx-vals='{ "data" : {{ charts.hcl_use_per_quarter_value_counts_pct.data }} }'
  hx-trigger="load" hx-swap="innerHTML"></div>
{% endif %}
{% endblock %}






