{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
  Health Checks Completion Rate
  {% include 'common/docs_icon_link_button.html' with rel_url="developer/kpis/7_key_processes/#321-health-check-completion-rate" fa_icon_class="fa-solid fa-eye" %}
{% endblock card_title%}
{% block card_body %}
{% if charts.pt_characteristics_value_counts.data.care.kpi_4_total_t1dm_gte_12yo.total == 0 %}
  <div class="alert alert-info">
    <i class="fa-solid fa-person-circle-exclamation"></i> No eligible patients.
  </div>
{% else %}
  <div
  hx-get="{% url 'get_simple_bar_chart_pcts_partial' %}"
  hx-vals='{"data" : {{ charts.hc_completion_rate_value_counts_pct.data }}}'
  hx-trigger="load" hx-swap="innerHTML"></div>
  {% endif %}
{% endblock %}






