{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
  Sex
{% endblock card_title%}
{% block card_body %}
<div
hx-get="{% url 'get_waffle_chart_partial' %}"
hx-vals='{{ charts.pt_sex_value_counts_pct.data }}'
hx-trigger="load" hx-swap="innerHTML"
_="on htmx:afterSwap remove #loading-spinner-sex-card"></div>




<div id="loading-spinner-sex-card"
class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center h-full w-1/5 mx-auto bg-center">
</div>
{% endblock %}






