{% extends 'base.html' %}
{% load static %}
{% load npda_tags %}
{% block content %}
{% url 'dashboard' as hx_get %}

<div class="container mx-auto p-4 font-montserrat text-rcpch_dark_blue">
  <h1 class="text-5xl text-center my-6">PDU Dashboard</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <!-- PDU Information Card -->
    {% include 'dashboard/pdu_card.html' %}


    <!-- Audit Details Card -->
    {% include 'dashboard/audit_details_card.html' %}

    <!-- Total Eligible Patients Card -->
    {% include 'dashboard/total_eligible_patients_card.html' %}
  </div>

  <!-- UNIT REPORT -->
  <h1 class="text-5xl text-center my-6">Unit Report</h1>
  <div class="grid grid-rows-3 gap-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- PATIENT CHARACTERISTICS CARD -->
      {% include 'dashboard/patient_characteristics_card.html' %}
      <!-- TREATMENT REGIMEN CARD -->
      {% include 'dashboard/treatment_regimen_card.html' %}
      <div class="flex flex-col gap-3">
        <!-- HCL CARD -->
        {% include 'dashboard/hcl_use_card.html' %}
        <!-- care at diagnosis CARD -->
        {% include 'dashboard/care_at_diagnosis_card.html' %}
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- HEALTH CHECKS COMPLETION RATE CARD -->
      {% include 'dashboard/health_checks_completion_rate_card.html' %}
      <!-- ADDITIONAL CARE PROCESSES CARD -->
      {% include 'dashboard/additional_care_processes_card.html' %}
      <div class="flex flex-col gap-3">
        <!-- HBa1c CARD -->
        {% include 'dashboard/hba1c_card.html' %}
        <!-- ADMISSIONS CARD -->
        {% include 'dashboard/admissions_card.html' %}
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <!-- SEX CARD -->
      {% include 'dashboard/sex_card.html' %}
      <!-- ETHNICITY CARD -->
      {% include 'dashboard/ethnicity_card.html' %}
      <!-- IMD CARD -->
      {% include 'dashboard/imd_card.html' %}
      <!-- IMD MAP CARD -->
      {% include 'dashboard/imd_map_card.html' %}

    </div>
  </div>

  <!-- PATIENT LEVEL REPORT -->
  <h1 class="text-5xl text-center my-6">Patient-Level Report</h1>
  <div class="overflow-x-auto">
    <h2>Seven Key Care Processes</h2>
    <p>
      These care processes show the completion rate per patient for all 7 key care processes for Type
      1 patients.
      Three of these are mandatory for patients of all ages: HbA1c, BMI, and Thyroid. The other care
      processes are
      only mandatory for patients aged 12 and above.
    </p>
    <table class="table-auto w-full text-sm text-left text-gray-500 mb-5 font-montserrat">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_dark_blue text-white">
        <tr>
          <th class="px-6 py-3">NHS Number</th>
          <th class="px-6 py-3">>= 12yo</th>
          <th class="px-6 py-3">HbA1c</th>
          <th class="px-6 py-3">BMI</th>
          <th class="px-6 py-3">Thyroid Screen</th>
          <th class="px-6 py-3">Blood Pressure</th>
          <th class="px-6 py-3">Urinary Albumin</th>
          <th class="px-6 py-3">Eye Screen</th>
          <th class="px-6 py-3">Foot Exam</th>
          <th class="px-6 py-3">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b">
          <td class="px-6 py-4">
            <span class="tooltip tooltip-right" data-tip="View patient details (opens new tab)">
              <a class="btn hover:text-rcpch_pink" target="_blank" href="{% url 'patient-update' 123 %}">
                {{ patient.nhs_number }}
              </a>
            </span>
          </td>
          <td class="px-6 py-4">{{ kpi_calculations_object.gte_12yo|yesno:"Y,N" }}</td>
          <td class="px-6 py-4">
            {% if kpi_calculations_object.kpi_results.kpi_25_hba1c %}
            ✔️
            {% else %}
            ✖️
            {% endif %}
          </td>
          <td class="px-6 py-4">
            {% if kpi_calculations_object.kpi_results.kpi_26_bmi %}
            ✔️
            {% else %}
            ✖️
            {% endif %}
          </td>
          <td class="px-6 py-4">
            {% if kpi_calculations_object.kpi_results.kpi_27_thyroid_screen %}
            ✔️
            {% else %}
            ✖️
            {% endif %}
          </td>
          <td class="px-6 py-4">
            {% if kpi_calculations_object.kpi_results.kpi_28_blood_pressure is not None %}
            {% if kpi_calculations_object.kpi_results.kpi_28_blood_pressure %}
            ✔️
            {% else %}
            ✖️
            {% endif %}
            {% else %}
            N/A
            {% endif %}
          </td>
          <td class="px-6 py-4">
            {% if kpi_calculations_object.kpi_results.kpi_29_urinary_albumin is not None %}
            {% if kpi_calculations_object.kpi_results.kpi_29_urinary_albumin %}
            ✔️
            {% else %}
            ✖️
            {% endif %}
            {% else %}
            N/A
            {% endif %}
          </td>
          <td class="px-6 py-4">
            {% if kpi_calculations_object.kpi_results.kpi_30_retinal_screening is not None %}
            {% if kpi_calculations_object.kpi_results.kpi_30_retinal_screening %}
            ✔️
            {% else %}
            ✖️
            {% endif %}
            {% else %}
            N/A
            {% endif %}
          </td>
          <td class="px-6 py-4">
            {% if kpi_calculations_object.kpi_results.kpi_31_foot_examination is not None %}
            {% if kpi_calculations_object.kpi_results.kpi_31_foot_examination %}
            ✔️
            {% else %}
            ✖️
            {% endif %}
            {% else %}
            N/A
            {% endif %}
          </td>
          <td class="px-6 py-4">
            {{ kpi_calculations_object.total_passed }}/{{ kpi_calculations_object.expected_total }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

{% endblock content %}