{% extends 'base.html' %}
{% load static %}
{% load npda_tags %}
{% block content %}
  <div hx-get="/patients"
       hx-trigger="patients from:body"
       hx-target="#patient_table">
    <div class="flex flex-col justify-center px-10 mt-5">
      <div class="flex flex-wrap">
        <label class="form-control flex items-center gap-2 grow">
          <label class="bg-rcpch_strong_blue mx-6 text-white input flex items-center gap-2 w-full h-auto">
            <div class="hidden lg:block  text-nowrap">
              <i class="fa-solid fa-hospital-user text-white mr-2"></i> Patient search
            </div>
            <div class="divider divider-horizontal after:bg-rcpch_strong_blue_light_tint1 before:bg-rcpch_strong_blue_light_tint3 hidden lg:flex">
            </div>
            <div></div>
            <input type="text"
                   class="text-center placeholder-gray-300 focus:bg-rcpch_strong_blue_light_tint2 hover:bg-rcpch_strong_blue_light_tint2 focus:placeholder-gray-500 p-2 m-2 text-wrap w-full"
                   {% if pz_code == 'PZ248' %} placeholder="Enter a Unique Reference Number or NPDA ID..." {% else %} placeholder="Enter an NHS number or NPDA ID..." {% endif %}
                   id="search-input"
                   name="search-input"
                   hx-get="{% url 'patients' %}"
                   hx-trigger="keyup changed delay:500ms"
                   hx-target="#patient_table"
                   hx-swap="innerHTML"
                   hx-include="[name='search-input']"
                   hx-params="*"
                   hx-indicator="#search_spinner" />
            <div id="search_spinner"
                 class="htmx-indicator flex items-center px-4 text-white absolute right-14 loading loading-bars loading-sm">
            </div>
            <button class="btn btn-info h-auto w-full md:w-auto"
                    hx-include="#search-input"
                    hx-swap="innerHTML"
                    hx-target="#patient_table"
                    hx-trigger="click"
                    hx-indicator="#search_spinner"
                    hx-get="{% url 'patients' %}"
                    hx-disabled-elt="this">
              <span class="md:hidden text-white">Search patients</span>
              <i class="fa-solid fa-magnifying-glass text-white"></i>
            </button>
            <div class="divider divider-horizontal after:bg-rcpch_strong_blue_light_tint1 before:bg-rcpch_strong_blue_light_tint3 hidden lg:flex">
            </div>
            {% if perms.npda.add_patient %}
              <a href="{% url 'patient-add' %}"
                 class="btn btn-info h-auto w-full md:w-auto {% if not can_alter_this_audit_year_submission %}btn-disabled{% endif %}">
                <i class="fa-solid fa-person-circle-plus"></i>
                Add patient
              </a>
            {% endif %}
          </label>
        </label>
      </div>
      <div id="patient_table">{% include 'partials/patient_table.html' %}</div>
    </div>
  </div>
{% endblock %}
