{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col justify-center px-10" hx-get="{% url 'submissions' %}" hx-trigger="change" hx-target="#submissions_table">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="relative overflow-x-auto">
            <div class="select select-bordered w-full max-w-xs" >
              <select name="audit_year" id="audit_year" class="select select-bordered w-full max-w-xs" hx-get="/submissions" hx-trigger="change from:body" hx-target="#submissions_table">
                  {% for year in audit_years %}
                      <option value="{{year}}"{% if year == selected_audit_year %} selected {% endif %}>{{year}}</option>
                  {% endfor %}
              </select>
          </div>
            <div id="submissions_table">
              {% include 'partials/submission_history.html' with submissions=object_list data=data submission_errors=submission_errors patients=patients %}
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}