{% load npda_tags %}

{% if user.is_authenticated %}

  <li class="flex items-center hover:inner-shadow">
    <div class="tooltip tooltip-bottom" data-tip="Dashboard">
      <a href="{% url 'dashboard' %}"
          class="text-xs block font-montserrat font-semibold   text-gray-700 lg:border-0 lg:hover:text-primary-700 px-0 lg:px-5 py-2 lg:py-2.5 mr-2 text-gray-400 hover:text-rcpch_light_blue hover:bg-transparent active:bg-transparent {% active_navbar_tab request 'submissions' %}"
          aria-current="page"><i class="fa-solid fa-house"></i></a>
    </div>
  </li>
  <li class="flex items-center hover:inner-shadow">
    <a href="{% url 'submissions' %}"
        class="text-xs block font-montserrat font-semibold  text-gray-700 lg:border-0 lg:hover:text-primary-700 px-0 lg:px-5 py-2 lg:py-2.5 mr-2 text-gray-400 hover:text-rcpch_light_blue hover:bg-transparent active:bg-transparent underline-offset-8 hover:underline {% active_navbar_tab request 'submissions' %}"
        aria-current="page">Submissions</a>
  </li>
  {% if can_complete_questionnaire %}
    <li class="flex items-center hover:inner-shadow">
      <a href="{% url 'patients' %}"
          class="text-xs block font-montserrat font-semibold  text-gray-700 lg:border-0 lg:hover:text-primary-700 px-0 lg:px-5 py-2 lg:py-2.5 mr-2 text-gray-400 underline-offset-8 hover:underline hover:text-rcpch_light_blue hover:bg-transparent {% active_navbar_tab request 'patients' %}"
          aria-current="page">Questionnaire</a>
    </li>
  {% endif %}
  {% if can_upload_csv %}
    <li class="flex items-center hover:inner-shadow">
      <a href="{% url 'home' %}"
          class="text-xs block font-montserrat font-semibold  text-gray-700 lg:border-0 lg:hover:text-primary-700 px-0 lg:px-5 py-2 lg:py-2.5 mr-2 text-gray-400 underline-offset-8 hover:underline hover:text-rcpch_light_blue hover:bg-transparent {% active_navbar_tab request 'home' %}"
          aria-current="page">Upload CSV</a>
    </li>
  {% endif %}
  <li class="flex items-center hover:inner-shadow">
    <a href="{% url 'npda_users' %}"
        class="text-xs block font-montserrat underline-offset-8  hover:underline font-semibold  text-gray-700 lg:border-0 lg:hover:text-primary-700 px-0 lg:px-5 py-2 lg:py-2.5 mr-2 text-gray-400 hover:text-rcpch_light_blue hover:bg-transparent {% active_navbar_tab request 'npda_users' %}">Users</a>
  </li>

{% endif %}

<li>
  <a href="http://0.0.0.0:8007/"
      class="text-xs block font-montserrat underline-offset-8 hover:underline font-semibold text-gray-700 lg:border-0  lg:hover:text-primary-700 px-0 lg:px-5 py-2 lg:py-2.5 mr-2 text-gray-400 hover:text-rcpch_light_blue hover:bg-transparent">User Guide</a>
</li>
