{% extends 'dashboard/base_card.html' %}
{% block card_title %}
  Audit Details
{% endblock card_title%}
{% block card_body %}
  <div class="mt-2">
    <p>
        <span class="font-bold">Start Date:</span> 1-Apr-24
    </p>
    <p class="mt-1">
        <span class="font-bold">End Date:</span> 31-Mar-25
    </p>
  </div>
  <hr class="my-4">
  <div class="mt-2">
    <p>
        <span class="font-bold">Current Quarter:</span> Q3
    </p>
    <p class="mt-1 text-sm text-gray-500">(1st Jan 2025)</p>
  </div>
  <hr class="my-4">
  <div class="mt-2">
    <p>
        <span class="font-bold">Days Remaining:</span> 100
    </p>
  </div>
{% endblock %}
