{% extends 'dashboard/base_card.html' %} {% block card_title %} Distribution of patients ({{ pdu_object.lead_organisation_name }} {{ pdu_object.pz_code }}) {% endblock card_title%} {% block card_body %}
<figure>
  <div id="organisation_cases_map" style="width: 100%"></div>
</figure>

{% comment %} <div
hx-get="{% url 'get_map_chart_partial' %}"
hx-vals='{{ charts.map }}'
hx-trigger="load" hx-swap="innerHTML"
hx-indicator="#loading-spinner">
</div> {% endcomment %}
<div id="loading-spinner" class="loading loading-spinner text-primary"></div>
{% endblock %}
